@using FribergCarRentals.Components

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]  FribergCarRentals</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FribergCarRentals.styles.css" asp-append-version="true" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Dela+Gothic+One|Oswald'>
</head>
<body>
    <div class="container-layout">
        <div class="container-body">
            <header>
                <div class="navbar-logo">
                    <img src="/logo-img.png" class="logo-img">
                </div>
                <div class="container-nav">

                        @await Component.InvokeAsync(nameof(NavBar), new { NoDisplay = ViewData["NavBar"]})
                    
                </div>
            </header>

            <main role="main" class="container-content">
            @* <div class="container-content"> *@
                
                    @RenderBody()
                
            @* </div> *@
            </main>

        </div>
    </div>

    <footer class="border-top">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>