@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
    var type = Model.Object.Type;
}

<h1>Create</h1>

@if (type == "customer")
{
    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Object.Customer.FirstName" class="control-label"></label>
                    <input asp-for="Object.Customer.FirstName" class="form-control" />
                    <span asp-validation-for="Object.Customer.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.LastName" class="control-label"></label>
                    <input asp-for="Object.Customer.LastName" class="form-control" />
                    <span asp-validation-for="Object.Customer.LastName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.Email" class="control-label"></label>
                    <input asp-for="Object.Customer.Email" class="form-control" />
                    <span asp-validation-for="Object.Customer.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Customer.Password" class="control-label"></label>
                    <input asp-for="Object.Customer.Password" class="form-control" />
                    <span asp-validation-for="Object.Customer.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-page-handler="Customer" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}

@if (type == "vehicle")
{
    <h4>Vehicle</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.Brand" class="control-label"></label>
                    <input asp-for="Object.Vehicle.Brand" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.Brand" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.Model" class="control-label"></label>
                    <input asp-for="Object.Vehicle.Model" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.Model" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.Year" class="control-label"></label>
                    <input asp-for="Object.Vehicle.Year" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.Year" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.DailyRate" class="control-label"></label>
                    <input asp-for="Object.Vehicle.DailyRate" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.DailyRate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.Comment" class="control-label"></label>
                    <input asp-for="Object.Vehicle.Comment" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.Comment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Vehicle.ImageUrl" class="control-label"></label>
                    <input asp-for="Object.Vehicle.ImageUrl" class="form-control" />
                    <span asp-validation-for="Object.Vehicle.ImageUrl" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" asp-page-handler="Vehicle" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}

@if (type == "booking")
{
    <h4>Booking</h4>
    <hr />

    @Model.Object.Vehicle

    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Object.Booking.BookingStart" class="control-label"></label>
                    <input asp-for="Object.Booking.BookingStart" id="BookingStart" class="form-control" />
                    <span asp-validation-for="Object.Booking.BookingStart" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Object.Booking.BookingEnd" class="control-label"></label>
                    <input asp-for="Object.Booking.BookingEnd" id="BookingEnd" class="form-control" />
                    <span asp-validation-for="Object.Booking.BookingEnd" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="hidden" value="@Model.Object.VehicleId" asp-for="Object.VehicleId" />
                    <input type="submit" value="Book" asp-page-handler="Booking" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-page="Index">Back to List</a>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>

        // NoPastDateAttribute client-side validation.
        // Forbids user to select a BookingStart date that is less than DateTime.Now.Date.
        jQuery.validator.addMethod('nopastdate', function (value, element) {
            var currentDate = new Date().setHours(0, 0, 0, 0);
            var inputDate = new Date(value).setHours(0, 0, 0, 0);
            return this.optional(element) || inputDate >= currentDate;
        }, 'Please enter a date in the future.');

        jQuery.validator.unobtrusive.adapters.addBool('nopastdate');

        // EqualOrGreaterAttribute client-side validation.
        // Forbids user to select a BookingEnd date that is less than BookingStart date.
        jQuery.validator.addMethod('equalorgreater', function (value, element, params) {
            var bookingStart = new Date($(params).val());
            var bookingEnd = new Date(value);
            return this.optional(element) || bookingEnd >= bookingStart;
        }, 'Return date cannot be less than Pickup date.');

        jQuery.validator.unobtrusive.adapters.add('equalorgreater', ['bookingstart'], function (options) {
            options.rules['equalorgreater'] = '#' + options.params['bookingstart'];
            options.messages['equalorgreater'] = options.message;
        });

        // Re-evaluate field data after changes are made.
        $('#BookingStart, #BookingEnd').change(function () {
            $(this).valid();
        });

    </script>
}
