@page
@model FribergCarRentals.Pages.Customers.OverviewModel
@{
    ViewData["Title"] = "Overview";
}



<h2>Customer overview</h2>
<p>Logged in with Customer ID: <b>@HttpContext.Session.GetInt32("_customer")</b></p>



@* @if (type == "NoCustomer")
{
    <h3>No admin logged in / session expired!</h3>
    <a asp-page="Login" class="nav-link">Return to Login</a>
} *@